* { 
	margin: 0; 
	padding: 0; 
	font-size: 14px;
	color: black;
}
#wrapper { 
	width: 960px; 
	margin: 0 auto; 
	padding: 20px 0;
}
#header {
	margin-bottom: 10px;
	border-top: 3px solid black;
	border-bottom: 1px solid #CCC;
	height: 62px;
}
#header h1 {
	display: inline-block;
	line-height: 66px;
	margin-left: 20px;
}
#header h1 a {
	text-decoration: none;
	font-size: 25px;
}
#header .menu {
	float: right;
	line-height: 66px;
	margin-right: 20px;
}
#header .menu a {
	font-size: 16px;
	text-decoration: none;
	padding: 10px 5px;
}
#container {
	background-color: #E7EEF1;
}
#footer { 
	text-align: center; 
	padding: 12px; 
	background-color: #777777; 
	color: white; 
}

.commonFormDiv fieldset {
	border-width: 0;
}
.commonFormDiv .field {
	padding: 3px;
	height: 28px;
	line-height: 28px;
}
.commonFormDiv label {
	width: 90px;
	float: left;	
	text-align: right;
	padding-right: 6px;
}

.commonFormDiv .button {
	text-align: center;
	padding: 3px;
}

input[type="text"] {
	width: 210px;
	padding: 5px;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	background: #FFFFFF;	
}
input.error {
	border: 1px solid Red;
	background-color: #F8B1A0;
}
input.valid {
	border: 1px solid Green;
	background-color: #E0F5CD;
}
input.focus {
	border: 1px solid Orange;
}

/*
*	信息列表样式
*/
#list {
	overflow: hidden;
}
#list li {
	list-style: none;
	float: left;
	width: 33%;
	height: 90px;
	padding: 5px;
	margin: 0 0 30px;
}	
